.fullname{
    font-family: monospace;
    color:rgb(57, 167, 130) ;
}

#description{
    font-family: Gill Sans;
    font-size: 110%
}

#mydescription{
    color:rgb(57, 167, 130) ;
    font-size: 18px;
    font
}

#profilepicture{
    border-radius: 200px;
    width: 280px;
}

.indicecolor{
    color: rgb(47, 214, 47);
    font-size: 18px;
}

.habilities-topics{
    color: rgb(57, 167, 130);
    font-size: 20px;
}

.rodape{
    color: #cdc8cf;
}

.socialmedias{
    font-size: 18px;
}

body{
    background-color: #121212;
}